{% extends 'pcap/layout.html' %}
{% block title %} Upload PCAP FIle {% endblock %}

{% block content %}
    {% if view.uploads %}
        <div class="card bg-info text-white">
            <div class="card-body text-uppercase">Currently viewing: {{ pcaps }}</div>
        </div>
        <div class="container visualselection">
            <div class="row">
                <a class="col" href="/sankey">View a Sankey Diagram of the TCP Conversations</a>
                <a class="col" href="/sankey-udp">View a Sankey Diagram of the UDP Conversations</a>
                <div class="w-100"></div>
                <a class="col" href="/table-tcp">View a table showing Order in which each TCP conversation took
                    place</a>
                <a class="col" href="/table-udp">View a table showing Order in which each UDP conversation took
                    place</a>
            </div>
        </div>


        <a href="/upload" class="btn btn-warning">Click to upload another PCAP</a>

    {% else %}
        <header class="container text-center">
            <h3>No PCAP uploaded yet</h3>
        </header>
        <a href="/upload" class="btn btn-primary">Click to upload a PCAP</a>
    {% endif %}

{% endblock %}