{% extends 'pcap/layout.html' %}
{% block title %} SANKEY-{{ proto }} {% endblock %}
{% block content %}
    <script src="https://unpkg.com/d3-sankey@0.6"></script>
    <style>
        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .2;
        }

        path:hover {
            stroke-opacity: .5;
        }

        .sankey-container {
            display: flex;
            width: 860px;
            justify-content: space-between
        }
    </style>

    <header class="center">
        <h2 class="text-uppercase">{{ proto }} Conversation pairs</h2>
        <p>Hover over each path for more information.</p>
    </header>
    <div class="container">
        <main class="sankey-container">
            <div class="header-one">Source IP:Port</div>
            <div class="header-two">Target IP:Port</div>
        </main>
        <svg></svg>
    </div>

    <script>
        var protocols = {
            '80': 'HTTP',
            '443': 'HTTPS',
            '53': 'DNS',
            '22': 'SSH',
            '20': 'FTP',
            '67': 'DHCP',
            '68': 'DHCP'
        };

        // set the dimensions and margins of the graph
        var margin = {
                top: 10,
                right: 10,
                bottom: 10,
                left: 10
            },
            width = 860 - margin.left - margin.right,
            height =
        {{ file_length }} *
        18 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        var formatNumber = d3.format(",.0f"),
            format = function (d) {
                return (d * 10) + " Total Packets";
            },
            color = d3.scaleOrdinal(d3.schemeCategory10);

        var sankey = d3.sankey()
            .nodeWidth(15)
            .nodePadding(10)
            .extent([
                [1, 1],
                [width - 1, height - 6]
            ])

        var link = svg.append("g")
            .attr("class", "links")
            .attr("fill", "none")
            .attr("stroke", "#000")
            .attr("stroke-opacity", 0.2)
            .selectAll("path");

        var node = svg.append("g")
            .attr("class", "nodes")
            .attr("font-family", "sans-serif")
            .attr("font-size", 10)
            .selectAll("g");

        d3.csv("{% url 'index' %}csvfiles/{{ proto }}-sankey.csv", function (error, data) {
            if (error) throw error;

            //set up graph in same style as original example but empty
            graph = {
                "nodes": [],
                "links": []
            };
            data.forEach(function (d) {
                graph.nodes.push({
                    "name": d.source
                });
                graph.nodes.push({
                    "name": d.target
                });
                graph.links.push({
                    "source": d.source,
                    "target": d.target,
                    "value": +d.value
                });
            });
            // return only the distinct / unique nodes
            graph.nodes = d3.keys(d3.nest()
                .key(function (d) {
                    return d.name;
                })
                .object(graph.nodes));

            // loop through each link replacing the text with its index from node
            graph.links.forEach(function (d, i) {
                graph.links[i].source = graph.nodes.indexOf(graph.links[i].source);
                graph.links[i].target = graph.nodes.indexOf(graph.links[i].target);
            });

            // now loop through each nodes to make nodes an array of objects
            // rather than an array of strings
            graph.nodes.forEach(function (d, i) {
                graph.nodes[i] = {
                    "name": d
                };
            });

            sankey(graph);

            link = link
                .data(graph.links)
                .enter().append("path")
                .attr("d", d3.sankeyLinkHorizontal())
                .attr("stroke-width", function (d) {
                    return Math.max(1, d.width);
                });

            link.append("title")
                .text(function (d) {
                    var srcname = d.source.name.replace(/:(?!.*:)/, ' Source Port: ');
                    var srcsplit = srcname.split('Source Port: ')
                    var trgtname = d.target.name.replace(/:(?!.*:)/, ' Target Port: ');
                    var trgtsplit = trgtname.split('Target Port: ');
                    var appProto;
                    Object.keys(protocols).forEach(function (port, index) {
                        //console.log(typeof port)
                        //console.log(typeof trgtsplit[1])
                        console.log(Object.values(protocols)[index])
                        if(port === trgtsplit[1]){
                            appProto = Object.values(protocols)[index]
                            //console.log(appProto)
                        }
                        else{
                            return null
                        }
                    })

                    if(appProto === undefined) appProto = "Other";
                    return "Source IP: " + srcname + " → " + "Target IP: " + trgtname + "\n" + format(d.value) + "\n" + "Application Protocol is " + appProto;
                });

            node = node
                .data(graph.nodes)
                .enter().append("g")

            node.append("rect")
                .attr("x", function (d) {
                    return d.x0;
                })
                .attr("y", function (d) {
                    return d.y0;
                })
                .attr("height", function (d) {
                    return d.y1 - d.y0;
                })
                .attr("width", function (d) {
                    return d.x1 - d.x0;
                })
                .attr("fill", function (d) {
                    return color(d.name.replace(/ .*/, ""));
                })
                .attr("stroke", "#000");

            node.append("text")
                .attr("x", function (d) {
                    return d.x0 - 6;
                })
                .attr("y", function (d) {
                    return (d.y1 + d.y0) / 2;
                })
                .attr("dy", "0.35em")
                .attr("text-anchor", "end")
                .text(function (d) {
                    return d.name;
                })
                .filter(function (d) {
                    return d.x0 < width / 2;
                })
                .attr("x", function (d) {
                    return d.x1 + 6;
                })
                .attr("text-anchor", "start");

            node.append("title")
                .text(function (d) {
                    return d.name + "\n" + format(d.value);
                });
        });
    </script>


{% endblock %}